div#outputs {
	div[name="state"] {

		div[name="state-fields"] {

			[name="node"], [name="field] {
				overflow: hidden;
				white-space: nowrap;
			}
			select[name="node"] {
				padding-top: 3px;
				padding-bottom: 3px;
			}

		}
	}
}