div#outputs {
	div[name="state"] {

		[name="state-title"] {
			font-size: 5vw;
			text-align: center;
		}

		div[name="state-fields"] {

			.field {
				overflow: hidden;
				white-space: nowrap;
			}
			select {
				padding-top: 3px;
				padding-bottom: 3px;
			}

		}
	}
}