
[name="requested-container"] {
	

	.tab-content {

		.tab-pane {
			border: 1px solid $light_grey;
		}

		.node-field-key {
			color: blue;
		}
		.node-field-val {
			color: green;
			font-weight: bold;
		}
	}

	pre {
		display: inline-block;
		padding: 5px;
	}

}