
#states-div {
	// #######################	
	margin-top: 30px;
	// #######################	
	.state {

		// fixes page positioning around anchors
		.anchor {
			display: inline-block;
			padding-top: 250px;
			margin-top: -250px;
		}

		.title {
			font-size: 2vw;
			margin-left: 30px;
		}
	}
}