// VARIABLES

// $bg_color: #aadfeb;
$bg_color: #476f9e;
$bg_color_darker: #090F16;
$light_grey: #dddddd;
$dark_grey: #cccccc;
$black: #000000;
$light_red: #e54747;
$red: red;
$white: white;

$main_font: Droid Sans, Arial;

$mono_font: Monospace;